<!-- wp:buttons {"className":"york-cta-block"} -->
<div id="{{ section.section_id }}" class="wp-block-buttons york-cta-block">
  <p>{{ section.content.text }}</p>
  <div class="wp-block-button"><a class="wp-block-button__link" href="{{ section.content.button_url }}">{{ section.content.button_label }}</a></div>
</div>
<!-- /wp:buttons -->
